{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center" id="container">
  <div class="container w-auto text-center p-5 rounded-3 shadow-lg box">
    <div class="flex items-center justify-center">
      <img src="{{ url_for('static', filename='css/IMG/image 1.png') }}" alt="">
    </div>
    <h1 class="fw-bold fs-1 p-4">WELCOME</h1>
    <h3 class="fw-bold fs-5 pb-1">AAUA Vehicle Access Control system</h3>
    <p class="pb-5 fw-semibold">Secure Access Control System Using QR-Code & Facial recognition</p>
    <div>
      <a href="{{ url_for('register') }}">
        <button class="btn btn-blue fw-semibold text-light me-md-3 mb-2 mb-md-0">
          <i class="fa-solid fa-file-circle-plus pe-2" style="color: #ffffff;"></i>
          REGISTER
        </button>
      </a>
      <a href="{{ url_for('staff_login') }}">
        <button class="btn btn-grey text-black fw-semibold">
          <i class="fa-solid fa-user-plus pe-2" style="color: #000;"></i>
          STAFF ACCESS
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
