{% extends 'base.html' %}

{% block title %}Register Face{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center" id="register-con">
  <div class="col-md-6 d-flex flex-column align-items-center justify-content-center text-center mb-4 mb-md-0">
    <div class="">
      <h2 class="fw-bold fs-2 pb-2">COMPLETE YOUR REGISTRATION</h2>
      <div class="flex items-center justify-center pb-3">
        <img src="{{ url_for('static', filename='css/IMG/progress bar.png') }}" alt="one">
      </div>
    </div>

    <div class="col-md-8 p-5 rounded-3 rounded-shadow box">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div>
            {% for message in messages %}
              <div class="text-danger" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <video id="video" width="640" height="480" autoplay class="mx-auto rounded-xl shadow border"></video>

      <p class="pt-1 pb-3 fw-semibold">Align your face in the frame</p>
      <div>
        <input type="button" id="capture" value="CAPTURE FACE" class="btn btn-blue text-white">
      </div>
    </div>
  </div>

  <form method="post">
    <input type="hidden" name="face_image" id="face_image">
    <button type="submit" id="submit" style="display: none;">Submit</button>
  </form>

  <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
</div>

<script>
  const video = document.getElementById('video');
  const canvas = document.getElementById('canvas');
  const capture = document.getElementById('capture');
  const faceInput = document.getElementById('face_image');
  const submitBtn = document.getElementById('submit');

  navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
    video.srcObject = stream;
  });

  capture.addEventListener('click', () => {
    const context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    const imageData = canvas.toDataURL('image/jpeg', 0.6);
    faceInput.value = imageData;
    submitBtn.click();
  });
</script>
{% endblock %}
